PRIVATE_KEY=[your PRIVATE_KEY used to deploy contracts goes here]
ALCHEMY_API_KEY=[your ALCHEMY_API_KEY goes here]
ETHERSCAN_API_KEY=[your ETHERSCAN_API_KEY goes here]

REACT_APP_QUICKNODE_ID=[your PROJECT_ID from INFURA goes here]
REACT_APP_IPFS_PROJECT_ID=[your IPFS_PROJECT_ID from INFURA goes here]
REACT_APP_IPFS_PROJECT_SECRET=[your IPFS_PROJECT_SECRET from INFURA goes here]
REACT_APP_IPFS_HTTP_CLIENT_PORT=[your IPFS_HTTP_CLIENT_PORT from INFURA goes here]
